.header
  %h3.header__login-name
    Hiro
  %ul.header__lists
    %li.list
      = fa_icon 'pencil-square-o', class: 'icon'
    %li.list
      = fa_icon 'cog', class: 'icon'
.groups
  .group__name
    %h3 Proto1
  .group__message
    %h4 Hello world1
  .group__name
    %h3 Proto2
  .group__message
    %h4 Hello world2
  .group__name
    %h3 Proto3
  .group__message
    %h4 Hello world3
