.container
  .side-bar
    = render "side_bar"

  .contents
    .upper-content
      .left-header
        .left-header__group-name
          Group Name
          %ul.left-header__members
            Members:
            %li.member
              member1
            %li.member
              member2
      .right-header
        .right-header__edit-button
          edit
    .mid-content
      .chat-space
        .upper-chat-space
          .upper-chat-space__name
            name1
          .upper-chat-space__date
            yyyy/mm/dd
        .lower-chat-space
          .lower-chat-space__text
            text1 text1 text1 text1 text1 text1 text1 text1 text1
      .chat-space
        .upper-chat-space
          .upper-chat-space__name
            name2
          .upper-chat-space__date
            yyyy/mm/dd
        .lower-chat-space
          .lower-chat-space__text
            text2 text2 text2 text2 text2 text2 text2 text2 text2
      .chat-space
        .upper-chat-space
          .upper-chat-space__name
            name2
          .upper-chat-space__date
            yyyy/mm/dd
        .lower-chat-space
          .lower-chat-space__text
            text3 text3 text3 text3 text3 text3 text3 text3 text3
    .lower-content
      %form
        %input.lower-content__text{placeholder: "  Type a text here."}
          .icon-element
            %label.icon-element__image
              = fa_icon 'picture-o', class: 'icon'
              %input.invisible{type:'file'}
        %input.lower-content__button{type:'submit', value:'SEND'}
