//back ground color
//flash notification when loged in
$white: #FFFFFF;
$blue_for_buttons: #45DBFC;

//font color
//flash notification when logged out
$light_gray_for_fonts: #434A54;
$alert_orange: #F35500;
